# *Venue Data*

# 1. Cleaning and Wrangling Data:

## *Importing Libraries*

In [1]:
import pandas as pd #For data manipulation

import numpy as np #For data computation array,linear alegbra,etc.


# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm #matplotlib color map
import matplotlib.colors as colors #to obtain colors for the color map
plt.style.use('ggplot') #for better looking graphs
%matplotlib inline

import seaborn as sns #Another lib for better looking graphs 

import folium #Map rendering library 

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import json # library to handle JSON files

import requests # library to handle requests

## *Importing Data Set*

I open the json file and then set the features into a variable. I set the relevant features into a variable which will eventually become the columns for the data set. I then used a for loop to fill each column with the values. Lastly checking to see if there is any NaN values in the data set.

In [2]:
# Opening the json file 
with open('nyc_data.json') as json_data:
    nyc_data = json.load(json_data)

In [3]:
# Setting the Features part of the json file into a variabel
nyc_data
neigh_data = nyc_data['features']
neigh_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [4]:
col_name = ['Borough','Neighborhood','Longitude','Latitude']
neigh_df = pd.DataFrame(columns=col_name)
neigh_df

Empty DataFrame
Columns: [Borough, Neighborhood, Longitude, Latitude]
Index: []

In [5]:
# For loop to fill the columns with values

for data in neigh_data:
    Borough = data['properties']['borough']
    Neighborhood = data['properties']['name']
    
    latnlon = data['geometry']['coordinates']
    Longitude = latnlon[0]
    Latitude = latnlon[1]
    
    
    neigh_df = neigh_df.append({'Borough': Borough,
                                'Neighborhood':Neighborhood,
                                'Longitude':Longitude,
                                'Latitude': Latitude},
                                ignore_index=True)


neigh_df.head()

  Borough Neighborhood  Longitude   Latitude
0   Bronx    Wakefield -73.847201  40.894705
1   Bronx   Co-op City -73.829939  40.874294
2   Bronx  Eastchester -73.827806  40.887556
3   Bronx    Fieldston -73.905643  40.895437
4   Bronx    Riverdale -73.912585  40.890834

In [6]:
# Checking to see if there is any NaN values
neigh_df.isnull().sum() / neigh_df.shape[0]

Borough         0.0
Neighborhood    0.0
Longitude       0.0
Latitude        0.0
dtype: float64

In [8]:
neigh_df.to_csv('neighborhood.csv',index = False)